*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;;
}

body{
    background: #F9FAFC;
}

ol,ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    width: 1170px;
    margin: 0 auto;
}
/* ======= navber start here ======= */
nav {
  margin-top: 50px;
}
.nav_wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
}
.nav_menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: end;
  column-gap: 45px;
}
.nav_menu ul {
  display: contents;
}
.nav_menu ul li a {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: #838383;
  font-family: 'Montserrat', sans-serif;
  transition: all linear 0.3s;
}
.nav_menu ul li a:hover {
  color: #8671fc;
}
/* ======= navber end here ======= */

/* =======Banner start here ======= */
#banner {
  padding: 76px 0 36px 0;
}
.banner_wrapper {
  display: grid;
  grid-template-columns: 471px 639px;
  column-gap: 85px;
  align-items: center;
}
.banner_left h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2px;
  color: #222;
  font-family: 'Raleway', serif;
  margin-bottom: 20px;
}
.banner_left h5 strong {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2px;
  color: #f05d7b;
  font-family: 'Raleway', serif;
}
.banner_left h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 88px;
  color: #222;
  font-family: 'Raleway', serif;
}
.banner_left p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.2;
  color: #838383;
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: 'Raleway', serif;
}
.banner_btn a:first-child {
  padding: 20px 49px;
  border: 1px solid #8671fc;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  color: #8671fc;
  border-radius: 30px;
  font-family: 'Raleway', serif;
  margin-right: 34px;
  transition: all linear 0.3s;
}
.banner_btn a:first-child:hover{
  background-color: #8671fc;
  color:#fff;
}
.banner_btn a:last-child {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  color: #8671fc;
  font-family: 'Raleway', serif;
}
.banner_btn a i {
  margin-left: 27px;
}
.banner_right {
  position: relative;
  right: -23px;
}

/* =======Banner end here ======= */

/* ======= About Me start here ======= */
#about_me{
  background: url(../images/about_me.png) no-repeat center;
  background-size: cover;
  padding: 273px 0 150px 0;
}
.about_me_wrapper{
  display: grid;
  grid-template-columns: 560px 360px;
  align-items: center;
  column-gap: 89px;
  justify-content: center;
}
.about_me_item1 .sub_title{
  color:#fff;
  text-align:left ;
}
.about_me_item1 .title{
  color:#fff;
  margin-top: 20px;
  margin-bottom: 30px;
}
.about_me_item1 .paragraph{
  color:#fff;
  max-width: 501px;
}
.about_me_item1 a{
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  font-family: 'Raleway', serif;
  margin-top: 70px;
}
.about_me_item1 a i{
  margin-left: 27px;
}
.about_me_item2 .title{
  color:#fff;
}
.about_me_item2 .paragraph{
  color:#fff;
  max-width: 421px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.about_me_item2 a{
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color:#fff;
  font-family: 'Raleway', serif;
}
/* ======= About Me end here ======= */

/* ########################## skills start here ################################ */
#skills{
    margin-top: 150px;
    margin-bottom: 150px;
}

.skills-wrapper .heading h3{
    margin: 0 auto;
    color: #222;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.skills-wrapper .heading h2{
    margin: 0 auto;
    color: #222;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3px;
}

.skills-wrapper .skills{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 30px;
}

.skills-wrapper .skills .item{
    padding: 50px;
    border: 1px solid #F9FAFC;
    box-shadow: 0px 30px 25px 0px rgba(0, 0, 0, 0.10);
    transition: 0.3s;
}

.skills-wrapper .skills .item:hover{
    background: url(../images/Oval.png) no-repeat;
    background-color: #F05D7B;
    border: none;
}

.skills-wrapper .skills .item h3{
    color: #222;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0.5px;
    margin-bottom: 25px;
}

.skills-wrapper .skills .item p{
    color: #838383;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.2px;
    margin-bottom: 40px;
}

.skills-wrapper .skills .item a{
    display: inline-block;
    color: #8671FC;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.skills-wrapper .skills .item a i{
    margin-left: 24px;
    line-height: 16px;
}

.skills-wrapper .skills .item:hover h3{
    color: #FFF;
}
.skills-wrapper .skills .item:hover p{
    color: #FFF;
}
.skills-wrapper .skills .item:hover a{
    color: #FFF;
}
/* ########################## skills end here ################################ */


/* ########################## portfolio start here ################################ */
#portfolio{
    margin-bottom: 150px;
}

.portfolio-wrapper .heading h3{
    margin: 0 auto;
    color: #222;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.portfolio-wrapper .heading h2{
    margin: 0 auto;
    color: #222;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.portfolio-wrapper .heading ul{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    column-gap: 50px;
    margin-bottom: 70px;
}

.portfolio-wrapper .heading ul li{
    color: #838383;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    transition: 0.3s;
}

.portfolio-wrapper .heading ul li:hover{
    color: #8671FC;
    cursor: pointer;
}

.portfolio-wrapper .items{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 30px;
}

.portfolio-wrapper .items .item{
    width: 370px;
    height: 334px;
    background:#CECECE;
}
/* ########################## portfolio end here ################################ */


/* ########################## testimonials start here ################################ */
#testimonial{
    margin-bottom: 100px;
}

.testimonials-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 95px;
}

.testimonials-wrapper .heading h3{
    color: #222;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; 
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.testimonials-wrapper .heading h2{
    max-width: 270px;
    color: #222;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3px;
    margin-bottom: 25px;
}

.testimonials-wrapper .heading p{
    max-width: 311px;
    color: #838383;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    letter-spacing: 0.2px;
    margin-bottom: 100px;
}

.testimonials-wrapper .heading .btn{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    column-gap: 30px;
}

.testimonials-wrapper .heading .btn span{
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    transition: 0.3s;
}

.testimonials-wrapper .heading .btn span:hover{
    color: #FFF;
    background: #8671FC;
}

.testimonials-wrapper .testimonials{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: end;
    column-gap: 155px;
}

.testimonials-wrapper .testimonials .testimonial p{
    max-width: 280px;
    margin-top: 22px;
    color: #838383;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.2px;
    margin-bottom: 56px;
}

.testimonials-wrapper .testimonials .testimonial h3{
    color: #222;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 10px;
}

.testimonials-wrapper .testimonials .testimonial span{
    color: #838383;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.3px;
}
/* ########################## testimonials end here ################################ */


/* ########################## sponsers start here ################################ */
.sponser-wrapper .sponsers{
    display: grid;
    grid-template-columns: repeat(5,162px);
    justify-content: center;
    align-items: center;
    justify-items: center;
    column-gap: 32px;
    margin-bottom: 100px;
}
/* ########################## sponsers end here ################################ */


/* ########################## footer start here ################################ */
#footer{
    background: url(../images/Oval\ +\ Oval\ Mask2.png) no-repeat center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 40px;
}

.footer-wrapper .heading h3{
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-wrapper .heading h2{
    margin: 0 auto;
    max-width: 421px;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3px;
    margin-bottom: 50px;
}

.footer-wrapper .heading .btn{
    text-align:center;
    margin-bottom: 50px;
}

.footer-wrapper .heading .btn a{
    display: inline-block;
    padding: 20.5px 49.5px;
    border-radius: 30px;
    background: #8671FC;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.line{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 50px;
}

.footer-wrapper .ending h3{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 100px;
    margin-bottom: 30px;
}

.footer-wrapper .ending p{
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.2px;
}
/* ########################## footer end here ################################ */